###  SQL SELECT Statement

The SELECT statement is used to select data from a database. The result is then stored in a result table, sometimes called the result-set.

### Syntax for SQL SELECT

SELECT column_name
FROM table_name

*We could also select multiple columns: *

SELECT column_name1,column_name2 <br/>
FROM table_name

*Or we could select everything in a table using * *

SELECT * FROM table_name

In [ ]:
# imports!
import sqlite3
import pandas as pd
con = sqlite3.connect("sakila.db")